.root-layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    
    & > .sidebar {
        position: relative;
        height: 100vh;
        
        & > .arania {
            position: absolute;
            width: 80%;
            left: -15%;
            bottom: -5%;
            rotate: 25deg;
            opacity: .1;
            z-index: -1;
        }
    }

    & > .full-viewport {
        grid-column: span 2;
    }
}

.materias {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
    gap: 1rem;
}